@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-bg: #ecf0f1;
    --secondery-bg: #fff;
    --accent-color: #8e44ad;
    --secondery-accent-color: #9b59b6;
    --main-text: #2c3e50;
    --muted-text: #34495e;
    --selection: #b700ff5d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
::selection {
    color: white;
    background-color: var(--selection);
}
::-moz-selection {
    color: white;
    background-color: var(--selection);
}
html, body {
    width: 100vw;
    height: 100vh;
}
body {
    background-color: var(--main-bg);
    color: var(--main-text);
}
.prealoder {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    z-index: 9999999;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondery-bg);
    scale: 1;
    filter: blur(0px);
    opacity: 1;
    visibility: visible;
    transition: all 1000ms ease-in-out;
}
.loader {
    width: 80px;
    height: 80px;
    border: 10px dotted var(--secondery-bg);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 3s ease-in-out infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); }
}
.hidden {
    filter: blur(60px) !important;
    scale: 2.5 !important;
    pointer-events: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}
header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--secondery-bg);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.507);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 99888;
}
header #logo h3 {
    font-size: 1rem;
}
header #logo span {
    color: var(--accent-color);
}